<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rfidtrackingapp">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CompassActivity" />
        <activity android:name=".ui.NfcReaderActivity" />
        <activity android:name=".ui.VirtualDeviceActivity" />
        <activity android:name=".ui.TagListActivity" />
        <activity android:name=".ui.TagDetailActivity" />
        <activity android:name=".ui.LockedTagActivity" />
        <service android:name=".service.RfidReaderService" />
    </application>

</manifest>
